<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view>
	<ion-content padding="true">
		<div class="list" ng-repeat="typegroup in typegroups">
			<center>
				<h2>{{ typegroup.name }}</h2>
			</center>
			<a class="item item-avatar" ng-repeat="type in types[typegroup.id]" href="#/{{typegroup.id}}/{{type.id}}/{{type.name}}/combiniFormSend/{{latitude}}/{{longitude}}">
				<img ng-src="./assets/48/{{type.id}}.png">
				<h2>{{ type.name }}</h2>
				<!--<p>{{ type.created_at }}</p>-->
			</a>
		</div>
	</ion-content>
</ion-view>
