<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view>
	

		<div id="map" data-tap-disabled="true"></div>
		
		
		<div id="hud">
			<img src="./assets/hud/bottom-left.png" />
			<form id="hudform">
				
				<p id="alertcombini" ng-show="alert"><br><br>{{ alert }}</p>
				<i id="newcombini" class="icon ion-chatbubble-working" ng-click="gotoForm()" ng-hide="alert"></i>
			</form>
		
			<div id="hudbody">
			
			{{position.latitude}}<br>
			{{position.longitude}}<br>
			</div>
		
		</div>
		
		
		
</ion-view>
