<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view>
	<ion-content padding="true"><center>
		<a ng-click="selectType()">
		<img class="typeicon" src="./img/balao_96/balao_banca.png">
		<img class="typeicon" src="./img/balao_96/balao_banco.png"> 
		<img class="typeicon" src="./img/balao_96/balao_bicicleta.png"> 
		<img class="typeicon" src="./img/balao_96/balao_bilheteunico.png"> 
		<img class="typeicon" src="./img/balao_96/balao_booze.png"> 
		<img class="typeicon" src="./img/balao_96/balao_cambio.png">
		<img class="typeicon" src="./img/balao_96/balao_chaveiro.png">
		<img class="typeicon" src="./img/balao_96/balao_coffee.png">
		<img class="typeicon" src="./img/balao_96/balao_comida.png">
		<img class="typeicon" src="./img/balao_96/balao_comida24h.png">
		<img class="typeicon" src="./img/balao_96/balao_farmacia.png">
		<img class="typeicon" src="./img/balao_96/balao_hospital.png">
		<img class="typeicon" src="./img/balao_96/balao_impressora.png">
		<img class="typeicon" src="./img/balao_96/balao_lan.png">
		<img class="typeicon" src="./img/balao_96/balao_lavanderia.png">
		<img class="typeicon" src="./img/balao_96/balao_lugarparadormir.png">
		<img class="typeicon" src="./img/balao_96/balao_mecanico.png">
		<img class="typeicon" src="./img/balao_96/balao_mercado.png">
		<img class="typeicon" src="./img/balao_96/balao_policia.png">
		<img class="typeicon" src="./img/balao_96/balao_posto.png">
		<img class="typeicon" src="./img/balao_96/balao_tomada.png">
		<img class="typeicon" src="./img/balao_96/balao_wc.png">
		<img class="typeicon" src="./img/balao_96/balao_wifi.png">
		</a></center>
	</ion-content>
</ion-view>
