<!--
  This template loads for the 'tab.about' state (app.js)
  
-->
<ion-view>
	<ion-content padding="true" >

	<div class="row">
		<div class="col">		
			<div class="avatar">
				<center>
					<div><img ng-src="./assets/Avatares/{{user.head_url}}"></div>
					<div style="margin-top:-6px;"><img ng-src="./assets/Avatares/{{user.body_url}}" ></div>
				</center>
			</div>
		</div>		
		<div class="col col-center col-75">
			<center>
				<h2>
					{{user.name}}, 
					<select ng-model="user.title_id" ng-options="title.id as title.name for title in titles" ng-change="onTitleChange(title.id, title.name)">
                    </select>
				</h2>
			</center>		
		</div>
	</div>
	
	<div class="row"><div class="col"><center><h3>Cabeças!</h3></center></div></div>
	<ion-scroll direction="x" >
		<div class="row" style="background-color:#ffffff" ng-style="headsWidth" >
			<div ng-repeat="head in heads" class="col" ng-click="setHead(head.id, head.image_url)" ng-class="{ selected: user.head_id == head.id}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/{{head.image_url}}"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>{{head.name}}</center></div>
					</div>
				</center>
			</div>
		</div>
	</ion-scroll>


	<div class="row"><div class="col"><center><h3>Corpos!</h3></center></div></div>
	<ion-scroll direction="x" >
		<div class="row" style="background-color:#ffffff" ng-style="bodysWidth" >
			<div ng-repeat="body in bodys" class="col" ng-click="setBody(body.id, body.image_url)" ng-class="{ selected: user.body_id == body.id}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/{{body.image_url}}"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>{{body.name}}</center></div>
					</div>
				</center>
			</div>
		</div>
	</ion-scroll>
	</ion-scroll>

  </ion-content>
</ion-view>
