<!--
  This template loads for the 'tab.about' state (app.js)
  
-->
<ion-view>
	<ion-content padding="true" >

	<div class="row">
		<div class="col">		
			<div class="avatar">
				<center>
					<div><img ng-src="./assets/Avatares/{{user.head}}-head.png"></div>
					<div style="margin-top:-6px;"><img ng-src="./assets/Avatares/{{user.body}}-body.png" ></div>
				</center>
			</div>
		</div>		
		<div class="col col-center col-75">
			<center>
				<h2>
					{{user.name}}, 
					<select ng-model="user.title_id" ng-options="title.id as title.name for title in titles" ng-change="onTitleChange(title.id, title.name)">
                    </select>
				</h2>
			</center>		
		</div>
	</div>
	
	<div class="row"><div class="col"><center><h3>Cabecas!</h3></center></div></div>
	<ion-scroll direction="x" >
		<div class="row" style="width:960px; background-color:#ffffff" >
			<div class="col" ng-click="setHead(1)" ng-class="{ selected: user.head == 1}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/1-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Im Batman!</center></div>
					</div>
				</center>
			</div>

			<div class="col" ng-click="setHead(2)" ng-class="{ selected: user.head == 2}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/2-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Oi eu sou o Goku!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setHead(3)" ng-class="{ selected: user.head == 3}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/3-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Green Mario!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setHead(4)" ng-class="{ selected: user.head == 4}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/4-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>It´sa me!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setHead(5)" ng-class="{ selected: user.head == 5}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/5-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>EREN!!!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setHead(6)" ng-class="{ selected: user.head == 6}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/6-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>AWWW!!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setHead(7)" ng-class="{ selected: user.head == 7}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/7-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Chomon!!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setHead(8)" ng-class="{ selected: user.head == 8}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/8-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Steve!</center></div>
					</div>
				</center>
			</div>
		</div>
	</ion-scroll>


	<div class="row"><div class="col"><center><h3>Corpos!</h3></center></div></div>
	<ion-scroll direction="x" >
		<div class="row" style="width:960px; background-color:#ffffff" >
			<div class="col" ng-click="setBody(1)" ng-class="{ selected: user.body == 1}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/1-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Im Batman!</center></div>
					</div>
				</center>
			</div>

			<div class="col" ng-click="setBody(2)" ng-class="{ selected: user.body == 2}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/2-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Oi eu sou o Goku!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setBody(3)" ng-class="{ selected: user.body == 3}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/3-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Green Mario!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setBody(4)" ng-class="{ selected: user.body == 4}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/4-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>It´sa me!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setBody(5)" ng-class="{ selected: user.body == 5}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/5-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>EREN!!!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setBody(6)" ng-class="{ selected: user.body == 6}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/6-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>AWWW!!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setBody(7)" ng-class="{ selected: user.body == 7}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/7-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Steve!</center></div>
					</div>
				</center>
			</div>
			<div class="col" ng-click="setBody(8)" ng-class="{ selected: user.body == 8}">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/8-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Oh Canada!</center></div>
					</div>
				</center>
			</div>
		</div>
	</ion-scroll>

  </ion-content>
</ion-view>
