<!--
  This template loads for the 'tab.about' state (app.js)
  
-->
<ion-view>
	<ion-content padding="true" >

	<div class="row">
		<div class="col">		
			<div class="avatar">
				<center>
					<div><img ng-src="assets/Avatares/1-head.png"></div>
					<div style="margin-top:-6px;"><img ng-src="assets/Avatares/1-body.png" ></div>
				</center>
			</div>
		</div>		
		<div class="col col-center col-75">
			<center>
				<h2>
					{{user.name}}, 
					<select>
						<option value=1 selected>o magnata</option>
						<option value=2 >o caipira</option>
						<option value=3 >o noob</option>
						<option value=4 >o jedi</option>
						<option value=5 >o SSJ</option>
						<option value=6 >o Batman</option>	
					</select>
				</h2>
			</center>		
		</div>
	</div>
	
	<div class="row"><div class="col"><center><h3>Cabecas!</h3></center></div></div>
	<ion-scroll direction="x" >
		<div class="row" style="width:1000px; background-color:#ffffff" >
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/1-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Im Batman!</center></div>
					</div>
				</center>
			</div>

			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/2-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Oi eu sou o Goku!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/3-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Green Mario!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/4-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>It´sa me!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/5-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>EREN!!!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/6-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>AWWW!!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/7-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Chomon!!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/8-head.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Steve!</center></div>
					</div>
				</center>
			</div>
		</div>
	</ion-scroll>


	<div class="row"><div class="col"><center><h3>Corpos!</h3></center></div></div>
	<ion-scroll direction="x" >
		<div class="row" style="width:1000px; background-color:#ffffff" >
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/1-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Im Batman!</center></div>
					</div>
				</center>
			</div>

			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/2-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Oi eu sou o Goku!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/3-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Green Mario!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/4-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>It´sa me!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/5-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>EREN!!!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/6-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>AWWW!!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/7-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Chomon!!</center></div>
					</div>
				</center>
			</div>
			<div class="col">
					<div class="row">
						<div class="col"><center><img src="./assets/Avatares/8-body.png"></center></div>
					</div>
					<div class="row">
						<div class="col"><center>Steve!</center></div>
					</div>
				</center>
			</div>
		</div>
	</ion-scroll>

  </ion-content>
</ion-view>
