
<ion-view>
<ion-content padding="true">


				<center>
					<!--   Nome e título do user -->
					
					
							<h1>{{user.name}}, {{user.title}}</h1>
						
					<div class="row">
						<div class = "col-25">
							<div class="avatar">
								<div><img src="./assets/Avatares/{{user.head_id}}-head.png"></div>
								<div style="margin-top:-6px;"><img src="./assets/Avatares/{{user.body_id}}-body.png" ></div>
							</div>
						</div>
						<div class="col">
							<div class="row">
								<!-- ajustar esses divs no css, o balao fica pequeno -->
								<div class="col col-10 bubble-motto-left"></div>
								<div class="col col-60 bubble-motto-middle">
									{{user.motto}}
								</div>
								<div class="col col-10 bubble-motto-right"></div>
							</div>
							<div class = "row">
								<div class = "col">
									<!--<div id="showUserRank"> Rank: 420 </div>-->
									<div id="showUserExp"> Exp: {{user.xp}} </div>
									<div id="showUserLvl"> Level: {{user.lvl}} </div>
								</div>
							</div>
						</div>
					</div>
				</center>
			
				<div id="showUserNeighborhood"> Bairro mais frequente: Pinheiros </div>
				<div id="showUserTopCombini"> Post mais popular: </div>
				<div id="showUserAchievements"> Achievements: </div>
				
				
</ion-content>
</ion-view>
