<!--
  This template loads for the 'tab.about' state (app.js)
  
-->
<ion-view>
	<ion-content padding="true" scroll="false">

	<div class="row">
		<div class="col">			
			<div class="row">
				<div class="avatar">
					<center>
						<div><img src="assets/Avatares/mario-head.png"></div>
						<div style="margin-top:-6px;"><img src="assets/Avatares/batman-body.png" ></div>
					</center>
				</div>
			</div>
			<div class="row">
				<center>
					Hodoufo, o hipster
				</center>
			</div>				
		</div>
		
		<div class="col">
			<div class="row">
				<div class="col"><img src="./assets/48/10.png"></div>
				<div class="col">Farmácia bacana</div>
			</div>
			
			<div class="row">
				Bom Retiro
			</div>
					
					
			<div class="row">		
				<i class="icon star_show_combini ion-ios7-star-outline"></i>
				<i class="icon star_show_combini ion-ios7-star-outline"></i>
				<i class="icon star_show_combini ion-ios7-star"></i>
				<i class="icon star_show_combini ion-ios7-star-outline"></i>
				<i class="icon star_show_combini ion-ios7-star-outline"></i>
			</div>
			
			<div class="row">
				<div class="col"><button class="button icon ion-thumbsup">13</button></div>
				<div class="col"><button class="button icon ion-thumbsdown">37</button></div>
			</div>
			
		</div>
	</div>
	
	<div class="row">95956 comentários:</div>
	<ion-scroll direction="y">
		<div class="row">
			<div class="col">
				<div class="row"><img src="./assets/Avatares/steve-head.png"></div>
				<div class="row">Charlie, o Unicórnio</div>
			</div>
			<div class="col"> El hombre con el sombrero nos envió, él nos contó muchas historias asombrosas. </div>
		</div>
		
		<div class="row">
			<div class="col">
				<div class="row"><img src="./assets/Avatares/goku-head.png"></div>
				<div class="row">Goku, o SSJ</div>
			</div>
			<div class="col">Oi, eu sou o Goku!</div>
		</div>

	</ion-scroll>
			
	<div class="row">
		<div class="col col-20">
			<div><img src="assets/Avatares/mario-head.png"></div>
		</div>
		
		<div class="col">
			<textarea placeholder="Comentário!!!" ></textarea>
		</div>
		
		<div class="col">
			<button class="button icon ion-chatbubbles"></button>
		</div>
	</div>
  </ion-content>
</ion-view>
