<!--
  This template loads for the 'tab.about' state (app.js)
  
-->
<ion-view>
	<ion-content padding="true">

	
	
	<div class="row">
		<div class="col">
			<center>
			<img src="./assets/logo.png">			
			<h2>Combini Store</h2>
			</center>
		</div>
	</div>
	
	<div class="row">
		<div class="col store" onclick="alert('passar parametro pra store')">
			<center><img src="./assets/heads.png"><br>Cabeças</center>
		</div>
		<div class="col store" onclick="alert('passar parametro pra store')">
			<center><img src="./assets/bodies.png"><br>Corpos</center>
		</div>
	</div>
	
	<div class="row">
		<div class="col store" onclick="alert('passar parametro pra store')">
			<center><img src="./assets/titles.png"><br>Títulos</center>
		</div>
		<div class="col store" onclick="alert('passar parametro pra store')">
			<center><img src="./assets/bubbles.png"><br>Balões</center>
		</div>
	</div>
	
	
  </ion-content>
</ion-view>
