<!--
  This template loads for the 'tab.about' state (app.js)
  
-->
<ion-view>
	<ion-content padding="true">

	
	
	<div class="row">
		<div class="col">
			<center>
			<img src="./assets/logo.png">			
			<h2>Combini Store</h2>
			</center>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<center><img src="/assets/Avatares/batman-head.png"></center>
		</div>
		<div class="col">
			<center><img src="/assets/Avatares/batman-head.png"></center>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<center><img src="/assets/Avatares/batman-head.png"></center>
		</div>
		<div class="col">
			<center><img src="/assets/Avatares/batman-head.png"></center>
		</div>
	</div>
	
	
  </ion-content>
</ion-view>
