<!--
  This template loads for the 'tab.about' state (app.js)
  
-->
<ion-view>
	<ion-content padding="true">
		<ion-tabs>

		  	<ion-tab title="Todos" >
		  		<ion-content padding="true">
			    	<div class="list">

					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/1-head.png">
					      	<h2>Cabeça do Batman</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(1)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/2-head.png">
					      	<h2>Cabeça do Goku</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(2)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/3-head.png">
					      	<h2>Cabeça do Green Mario</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(3)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/4-head.png">
					      	<h2>Cabeça do Mario</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(4)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>




					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/1-body.png">
					      	<h2>Corpo do Batman</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(1)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/2-body.png">
					      	<h2>Corpo do Goku</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(2)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/3-body.png">
					      	<h2>Corpo do Green Mario</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(3)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/4-body.png">
					      	<h2>Corpo do Mario</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(4)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
				    </div>
			    </ion-content>

		  	</ion-tab>

		  	<ion-tab title="Cabecas" >
		  		<ion-content padding="true">
			    	<div class="list">

					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/1-head.png">
					      	<h2>Cabeca do Batman</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(1)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/2-head.png">
					      	<h2>Cabeca do Goku</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(2)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/3-head.png">
					      	<h2>Cabeca do Green Mario</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(3)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/4-head.png">
					      	<h2>Cabeca do Mario</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(4)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
				    </div>
			    </ion-content>
		  	</ion-tab>

		  	<ion-tab title="Corpo" >
		  		<ion-content padding="true">
		  			<div class="list">
			    		<a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/1-body.png">
					      	<h2>Corpo do Batman</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(1)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/2-body.png">
					      	<h2>Corpo do Goku</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(2)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/3-body.png">
					      	<h2>Corpo do Green Mario</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(3)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
					    <a class="item item-thumbnail-left item-button-right" >
					      	<img src="./assets/Avatares/4-body.png">
					      	<h2>Corpo do Mario</h2>
					      	<p>Lvl min: 9999</p>
					      	<p>Gold: 9999</p>
						    <button class="button button-balanced" ng-click="buy(4)">
						      	<i class="icon ion-social-usd"></i>
						    </button>
					    </a>
				    </div>
			    </ion-content>
		  	</ion-tab>

		  	<ion-tab title="Baloes" >
		  		<ion-content padding="true">
		  			Sessao em construcao
		  		</ion-content>
		  	</ion-tab>

		</ion-tabs>
	
	
  </ion-content>
</ion-view>
