ion-content {
    background-color: #DDD;
} 

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

#hudform	{


}
#hud img{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 240px;
	height: 200px;
	z-index: 99998;
}


	
#newcombini {
	background-color: #FFFFFF;
	font-size: 90px;
	color: #7A7A7B;
	text-align: center;
	padding-top: 27px;
	padding-right: 4px;
	width: 145px;
	height: 145px;
	border-radius: 50%;
	position: absolute;
	bottom: 12px;
	left: 12px;
	box-shadow: 3px 3px 3px #DDDDDD inset,
				-3px -3px 3px #DDDDDD inset;
	z-index: 99999;
	
	-moz-transform: scaleX(-1); 
	-o-transform: scaleX(-1); 
	-webkit-transform: scaleX(-1); 
	transform: scaleX(-1); 
	filter: FlipH; 
	-ms-filter: "FlipH";
	
	
}
	
#alertcombini {
	background-color: #FFFFFF;
	font-size: 20px;
	color: #7A7A7B;
	text-align: center;
	padding-top: 27px;
	padding-right: 4px;
	width: 145px;
	height: 145px;
	border-radius: 50%;
	position: absolute;
	bottom: 12px;
	left: 12px;
	box-shadow: 3px 3px 3px #DDDDDD inset,
				-3px -3px 3px #DDDDDD inset;
	z-index: 99999;
	
	
}

.typelabel {
	text-align: right;
}


.ion-ios7-star-outline, .ion-ios7-star {
	font-size: 50px;
	padding-right: 10px;
	padding-left:  10px;
}

#hudbody {
	background-color: #FFD766;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 240px;
	height: 55px;
	border-top: 3px solid #888888;
}

.sidebarlogo {
	width: 100%;
	height: 100px;
	background-image: url('/assets/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	margin: 7px 0px 7px 0px;
}
.table_nopadding {
	border-collapse: collapse;
}

.avatar{
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.typeicon {
	padding: 5px;
}



.right {
	float: right;
	display: inline;
	padding-top: 10px;
	padding-right: 10px;
	color: #B2B2B2;
}

.button.sidemenu.button-clear.icon {
	align: left;
}

.list > ion-item {
	height: 40px;
	padding: 0px;	
}

.avatar_sidebar {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	width: inherit;
}

.full_title {
	font-size: 20px;
	
}



.col.store {
	border-radius : 25px;
	background-color: #FAFAFA;
	margin: 10px;
	box-shadow: -5px 5px 12px 3px #CCC inset, 
				5px -5px 12px 3px #CCC inset;
	padding-bottom: 20px;
	font-size: 22px;
}

.star_show_combini {
	font-size: 32px;
}